<form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
<label>Model:</label>
<select #selectedModel [ngModel]="prefillModel()" name="model" ngModel required>
    <option value="" disabled selected>Choose an option</option>
    @for(m of models();track m.code){
        <option [ngValue]="m">{{m.description}}</option>
    }
</select>
@if(selectedModel.value || prefillColor()){
<label>Color:</label>
<select [ngModel]="prefillColor()" name="color" required>
    <option value="" disabled selected>Choose an option</option>
    @for(c of colors();track c){
        <option [ngValue]="c">{{c.description}}</option>
    }
</select>
}
</form>