<form #f="ngForm">
<label>Model:</label>
<select #selectedModel [compareWith]="compareModels" [ngModel]="model() ?? ''" name="model" ngModel required>
    <option value="" disabled selected>Choose an option</option>
    @for(m of (store.models());track m){
        <option [ngValue]="m">{{m.description}}</option>
    }
</select>
@if(model()){
<label>Color:</label>
<select [ngModel]="color() ?? ''" name="color" required>
    <option value="" disabled selected>Choose an option</option>
    @for(c of (store.availableColors() ?? []);track c){
        <option [ngValue]="c">{{c.description}}</option>
    }
</select>
}
</form>