<form #f="ngForm">
    <fieldset>
        <label for="config">Config:</label>
        <select [ngModel]="this.store.selectedCar?.config()?.id ?? ''" required (ngModelChange)="onSelectConfig($event)" name="config"
            id="config">
            <option value="" disabled selected>Choose your configuration</option>
            @for(c of (options()?.configs);track c;let i=$index;){
            <option [value]="c.id">{{c.description}}</option>
            }
        </select>
    </fieldset>
    <ng-content></ng-content>
    @if(this.selectedCar()){
    <fieldset>
        @if(this.options()?.towHitch){
        <label for="tow">Tow Hitch</label>
        <input [ngModel]="this.selectedCar?.towHitch() || this.options()?.towHitch" name="tow" id="tow" type="checkbox"
            (ngModelChange)="onAccessoryChange('towHitch',$event)" [checked]="this.selectedCar?.towHitch()" />
        }
        @if(this.options()?.yoke){
        <label for="yoke">Yoke</label>
        <input [ngModel]="this.selectedCar()?.yoke || this.options()?.yoke" name="yoke" id="yoke" type="checkbox"
            (ngModelChange)="onAccessoryChange('yoke',$event)" [checked]="this.selectedCar?.yoke()" />
        }
    </fieldset>
    }
</form>